<template>
  <div class="container">
    <div class="box effect6">
      <div class="box-content">
        <h1>Users</h1>
        <div>
          <form class="search">
            <input name="query" v-model="searchQuery" placeholder="Search">
          </form>
          <users-table
            :data="processData(allUsers)"
            :columns="columns"
            :filter-key="searchQuery">
          </users-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UsersTable from './UsersTable'
import { ALL_USERS_QUERY } from '../constants/graphql'
export default {
  name: 'Admin',
  components: {
    UsersTable
  },
  data () {
    return {
      allUsers: [],
      sortColumn: '',
      searchQuery: '',
      columns: [
        {dbField: 'id', title: 'id'},
        {dbField: 'name', title: 'name'},
        {dbField: 'email', title: 'email'},
        {dbField: 'createdAt', title: 'createdAt'},
        {dbField: 'updatedAt', title: 'updatedAt'}]
    }
  },
  methods: {
    processData (data) {
      return data
    }
  },
  apollo: {
    // allUser here pulls the data from ALL_USERS_QUERY and assigns it to the data(){} object at the top of script
    allUsers: {
      query: ALL_USERS_QUERY
    }
  }
}
</script>

<style>
.container {
  text-align: left;
}
.search{
  width: 38%;
}
</style>